name: Build LLVM and patch LLVM with COMPAS

on:
  push:
    paths-ignore:
    - doc/
    - README*
    branches:
      - main
    tags:
      - v*
  pull_request:
    paths-ignore:
    - doc/
    - README*
    branches:
      - main
  workflow_dispatch: {}

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        config:
          - { os: ubuntu-22.04, compas_version: "1.1.0", cmakegen: "Release"}
        llvm:
          #- { src: 'true', tag: '13.0.1' } # <-- the original config
          #- { src: 'true', tag: '14.0.6' } # <-- save CI time
          #- { src: 'true', tag: '15.0.7' } # <-- save CI time
          - { src: 'true', tag: '16.0.6' } # <-- latest (supported) llvm
        llvm_base:
          - { url: "https://github.com/llvm/llvm-project.git", prefix: "llvm-project" }

    runs-on: ${{ matrix.config.os }}
    name: build_${{ matrix.config.os }}_compas${{ matrix.config.compas_version }}_llvm${{ matrix.llvm.tag }}

    steps:
    - name: Clone COMPAS
      uses: actions/checkout@v4
      with:
        path: compas-ft-riscv_src
        submodules: recursive
    - name: Load env vars from docker/.env
      run: |
        while IFS='=' read -r key value || [ -n "$key" ]; do
          [[ -z "$key" || "$key" == \#* ]] && continue
          key="$(echo "$key" | xargs)"
          value="$(echo "$value" | xargs)"
          value="${value%\"}"
          value="${value#\"}"
          echo "$key=$value" >> $GITHUB_ENV
        done < docker/.env
    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        setup_env
    - name: Clone LLVM
      working-directory: ${{runner.workspace}}
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        fetch_llvm "${{runner.workspace}}/llvm_src" \
                   "${{runner.workspace}}/llvm_build" \
                   "${{runner.workspace}}/llvm_install" \
                   "${{ env.ENV_LLVM_VERSION }}"
    - name: Configure LLVM (base build)
      working-directory: ${{runner.workspace}}
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        configure_llvm "${{runner.workspace}}/llvm_src" \
                   "${{runner.workspace}}/llvm_build" \
                   "${{runner.workspace}}/llvm_install" \
                   "${{ env.ENV_LLVM_VERSION }}"
    - name: Compile LLVM (base build)
      working-directory: ${{runner.workspace}}
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        build_llvm "${{runner.workspace}}/llvm_src" \
                   "${{runner.workspace}}/llvm_build" \
                   "${{runner.workspace}}/llvm_install" \
                   "${{ env.ENV_LLVM_VERSION }}"
    - name: Patch (LLVM base build)
      working-directory: ${{runner.workspace}}
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        patch_llvm "${{runner.workspace}}/llvm_src" \
                   "${{runner.workspace}}/llvm_build" \
                   "${{runner.workspace}}/llvm_install" \
                   "${{ env.ENV_LLVM_VERSION }}" \
                   "${{runner.workspace}}/compas-ft-riscv/compas-ft-riscv_src/patches/"
    - name: Re-Compile LLVM with COMPAS
      working-directory: ${{runner.workspace}}
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        build_llvm "${{runner.workspace}}/llvm_src" \
                   "${{runner.workspace}}/llvm_build" \
                   "${{runner.workspace}}/llvm_install" \
                   "${{ env.ENV_LLVM_VERSION }}"
    - name: Install LLVM
      working-directory: ${{runner.workspace}}
      run: |
        . ./compas-ft-riscv/compas-ft-riscv_src/docker/setup_debian.sh
        install_llvm "${{runner.workspace}}/llvm_src" \
                   "${{runner.workspace}}/llvm_build" \
                   "${{runner.workspace}}/llvm_install" \
                   "${{ env.ENV_LLVM_VERSION }}"
    - name: Upload pre-built LLVM w/ Compas Patch
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.config.os }}_compas${{ matrix.config.compas_version }}_llvm${{ matrix.llvm.tag }}_prebuilt
        path: ${{runner.workspace}}/llvm_install
