name: Build LLVM and patch LLVM with COMPAS

on:
  push:
    paths-ignore:
    - doc/
    - README*
    branches:
      - main
    tags:
      - v*
  pull_request:
    paths-ignore:
    - doc/
    - README*
    branches:
      - main
  workflow_dispatch: {}

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        config:
          - { os: ubuntu-22.04, compas_version: "1.1.0", cmakegen: "Release", packages: "build-essential cmake git" }
        llvm:
          #- { src: 'true', tag: '13.0.1' } # <-- the original config
          #- { src: 'true', tag: '14.0.6' } # <-- save CI time
          #- { src: 'true', tag: '15.0.7' } # <-- save CI time
          - { src: 'true', tag: '16.0.6' } # <-- latest (supported) llvm
        llvm_base:
          - { url: "https://github.com/llvm/llvm-project.git", prefix: "llvm-project" }

    runs-on: ${{ matrix.config.os }}
    name: build_${{ matrix.config.os }}_compas${{ matrix.config.compas_version }}_llvm${{ matrix.llvm.tag }}

    steps:
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y ${{ matrix.config.packages }}

    - name: Clone LLVM
      working-directory: ${{runner.workspace}}
      run: |
        git clone --depth 1 ${{ matrix.llvm_base.url }} ${{ matrix.llvm_base.prefix }}_src --branch llvmorg-${{ matrix.llvm.tag }}

    - name: Configure LLVM (base build)
      working-directory: ${{runner.workspace}}/${{ matrix.llvm_base.prefix }}_src
      run: |
        cmake -S llvm -B build -DCMAKE_BUILD_TYPE=${{ matrix.config.cmakegen }} \
          -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/llvm_install \
          -DCMAKE_CXX_STANDARD=17 \
          -DLLVM_ENABLE_PROJECTS=clang \
          -DLLVM_TARGETS_TO_BUILD=RISCV \
          -DLLVM_ENABLE_ASSERTIONS=ON

    - name: Compile LLVM (base build)
      working-directory: ${{runner.workspace}}/${{ matrix.llvm_base.prefix }}_src
      run: |
        cmake --build build --parallel $(nproc)

    - name: Clone COMPAS
      uses: actions/checkout@v4
      with:
        path: compas-ft-riscv_src
        submodules: recursive

    - name: Patch (LLVM base build)
      run: |
        ln -s ${{runner.workspace}}/compas-ft-riscv/compas-ft-riscv_src ${{runner.workspace}}/${{ matrix.llvm_base.prefix }}_src/llvm/lib/Target/RISCV/compas-ft-riscv
        cd ${{runner.workspace}}/${{ matrix.llvm_base.prefix }}_src
        git apply llvm/lib/Target/RISCV/compas-ft-riscv/patches/llvm${{ matrix.llvm.tag }}_src.patch

    - name: Re-Compile LLVM with COMPAS
      working-directory: ${{runner.workspace}}/${{ matrix.llvm_base.prefix }}_src
      run: |
        cmake --build build --parallel $(nproc)

    - name: Install LLVM
      working-directory: ${{runner.workspace}}/${{ matrix.llvm_base.prefix }}_src
      run: |
        cmake --build build --parallel $(nproc) --target install

    - name: Upload pre-built LLVM w/ Compas Patch
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.config.name }}_compas${{ matrix.config.compas_version }}_llvm${{ matrix.llvm.tag }}_prebuilt
        path: ${{runner.workspace}}/llvm_install
